@charset "UTF-8";
.nav-custom{
	width: 100%;
}
.con-h{
	height:5.5em;
}
#maket-dropmenu{

	display:none;
	color: #222222;
	font-family: sans-serif;
	line-height: 2.6em;
	text-decoration: none;
	padding: 1.063em 0.438em;
	font-size: 1.6em;
	position:relative;
	cursor:pointer;
}
.newUl{
	padding: 0 2.5em 0 0;
	position: absolute;
	flex-flow: column;
	z-index: 10;
	list-style:none;
	background-color: aquamarine;
	font-size: inherit;
}
.newUl a{
	font-size:unset;
}
@media (max-width:642px) {
	.con-h{
		padding:0 1px;
	}
	.nav{
		justify-content: space-between;
		flex-wrap:nowrap;
	}
	.nav-ul{
		width: 50%;
		margin: 0;
		justify-content: space-between;
	}
	#maket-dropmenu {
		justify-content: center;
		width: 50%;
		display:flex;
		margin:0;
		padding:0;
	}
	.newUl{
		top: 3em;

	}
}
.edit_div{
	background-color:lightgrey;
}
.form_edit{
	width:inherit;
	flex-direction: column;
	font-size: 1.6em;
}
.edit_div form label{
	display: flex;
	justify-content: space-between;
}
.modal_edit_input_image{
	border: 3px solid black;
	border-radius: 5px;
	padding: 1% 35%;
	cursor:pointer;
}
.modal_edit_input_image:hover{
	color:#ff9345;
	transition:color 200ms ease-out;
}
.modal_edit_input_image:active{
	border:5px solid #ff9345;
	transform: matrix3d(0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1.01);
	transition:transform 500ms ease-in-out;
}
.edit_save{
	width:13em;
	height:3em;
}

.prev_img{
	width:26em;
	height:28em;
}
.prev_img img{
	width:inherit;
}
.edit_button{
	text-decoration:none;
}
.insert_image{
	position:absolute;
	z-index:-1;
	opacity:0;
}
#listgoods{
	font-size:1.6em;
}
#del-item{
	float:right;
	cursor:pointer;
}
#scroll-up{
	border-radius:100px;
	background-color: #a79598;
	z-index: 100;
	width: 50px;
	height: 50px;
	line-height: 47px;
	position: fixed;
	bottom: -100px;
	color: #292222;
	right: 50px;
	text-align: center;
	font-size: 28px;
	cursor: pointer;
	-webkit-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	-ms-transition: all .7s ease-in-out;
	transition: all .5s ease-in-out;
}
#scroll-up:hover{
	background-color:#f16d7f;
	color:white;
	text-decoration:none;
}
.fon{
	background-color: black;
	height: 30em;
	width: 34em;
	position: absolute;
	opacity: 0.4;
	border-radius: 20px;
}
.auth{
	display: flex;
	flex-direction: column;
	width: inherit;
	margin: auto 0;
	padding: 1em;
	position: relative;
	z-index: 1000;
}
.logout{
	background: #ececec;
	cursor: pointer;
	float: right;
	font-size: 1.6em;
	padding: 0.5em 1em;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}